
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body.bg-opacity-75{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fafafb;
}

/* Card and Search Bar */
.form-control:focus {
  border-color: #6b6f6c !important;
  outline: 0;
  box-shadow: none !important;
}
.aclass a:hover {
  color: #000 !important;
  opacity: 0.7;
  animation: transition(0.25);
}
.card-item:hover {
  opacity: 0.9;
}
.active-category .card {
  border: 2px solid #007bff; /* Borda azul (você pode escolher outra cor) */
  background-color: #f8f9fa; /* Cor de fundo clara (opcional) */
}

.active-category .card-body h5 {
  color: #007bff; /* Cor do texto para a categoria ativa */
}


.letra{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

/* header{
    background-color: rgb(10, 29, 56);
} */

.img-slide {
  width: 100%;          /* Faz a imagem ocupar toda a largura do contêiner */
  max-height: 350px;    /* Define a altura máxima da imagem */
  object-fit: cover;    /* Mantém a proporção da imagem e recorta se necessário */
  object-position: center; /* Centraliza a imagem */
}

@media (max-width: 768px) { /* Ajustes para telas menores */
  .img-slide {
      max-height: 250px; /* Reduz a altura máxima para telas menores */
  }
}

@media (max-width: 576px) { /* Ajustes para telas bem pequenas */
  .img-slide {
      max-height: 200px; /* Ainda mais redução na altura máxima */
  }
}



/* Logo */
.logo{
  width: 55px;
}
.vltech {
  color: #00A2E8; /* Cor azul para "VL" */
  font-size: 25px; /* Ajuste o tamanho conforme necessário */
}

.tech {
  color: #FF7F27; /* Cor laranja para "TECH" */
  font-size: 25px; /* Tamanho semelhante ao de "VL" */
}

.informatica {
  display: block; /* Coloca "INFORMATICA" abaixo de "VLTECH" */
  color: #FF7F27; /* Cor laranja */
  font-size: 10px; /* Menor que "VLTECH" */
  letter-spacing: 2px; /* Espacemento entre letras */
  margin-left: 8px;    
}

.lg2 {
    font-family: "Michroma", sans-serif;

    font-weight: bold;
    text-align: center;
}
/* End logo */


.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 1px;
    top: 1px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}


.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.card {
    background-color: #fff;
    height: 27.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(40, 41, 61, 0.08) 0px 0px 1px, rgba(96, 97, 112, 0.16) 0px 0.5px 2px;
    border-radius: 0.25rem;
  }
  

  .card-title {
    min-height: 40px;
    height: 55px;
    overflow: hidden;

    font-size: 0.875rem;
  }
  
  .card-text {
    min-height: 60px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
  }
  

  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  .card_categoria {
    background-color: #fff;
    width: 100%;
    height: 16.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(40, 41, 61, 0.08) 0px 0px 1px, rgba(96, 97, 112, 0.16) 0px 0.5px 2px;
    border-radius: 0.25rem;
  }
  .btn {
    margin-top: auto;
  }

  .card-img-top {
    height: 10.125rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }

  .price-old {
    font-size: 0.75rem;
  }
  .price {
    font-size: 1.25rem;
    color: rgb(255, 101, 0);
  }
  .avista {
    font-size: 0.75rem;
  }

  .btn-buy {
    border-radius: 0.25rem;
    height: 40px !important;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(255, 101, 0);
  }

.hrv:hover {
  opacity: 0.9;
  color: #000;
}
  
.fnt-price {
  font-family: "Inter", sans-serif;

}

/* Manipulando setas categoria */

/* Estilo para as setas do carrossel */
.carousel-control-prev-icon2,
.carousel-control-next-icon2 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.carousel-control-prev2,
.carousel-control-next2 {
  background-color: #fff;
  border: 0;
  border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Garante que as setas fiquem sobre a imagem */
}

/* Ajustar para as setas ficarem fora das imagens */
.carousel-control-prev2 {
    left: -50px; /* Ajuste a posição para a esquerda */
}

.carousel-control-next2 {
    right: -50px; /* Ajuste a posição para a direita */
}


/* Estilo para as setas do carrossel */
.carousel-control-prev-icon3,
.carousel-control-next-icon3 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.carousel-control-prev3,
.carousel-control-next3 {
  background: transparent;
  border: 0;
  border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Garante que as setas fiquem sobre a imagem */
}

/* Ajustar para as setas ficarem fora das imagens */
.carousel-control-prev3 {
    left: 0px; /* Ajuste a posição para a esquerda */
}

.carousel-control-next3 {
    right: 0px; /* Ajuste a posição para a direita */
}
