@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
}

form {
    width: auto;
    height: auto;
    margin: 4rem auto;
    padding: 5rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

label,
legend {
    display: block;
    margin: .5rem 0;
    font-size: 14px;
}

.input-padrao {
    /* width: 300px; */
    margin: .5rem 0;
}

button {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem 0;
}

table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
}

td,
th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #EEE;
}

/* Logo */
.logo{
    width: 55px;
  }
  .vltech {
    color: #00A2E8; /* Cor azul para "VL" */
    font-size: 25px; /* Ajuste o tamanho conforme necessário */
  }
  
  .tech {
    color: #FF7F27; /* Cor laranja para "TECH" */
    font-size: 25px; /* Tamanho semelhante ao de "VL" */
  }
  
  .informatica {
    display: block; /* Coloca "INFORMATICA" abaixo de "VLTECH" */
    color: #FF7F27; /* Cor laranja */
    font-size: 10px; /* Menor que "VLTECH" */
    letter-spacing: 2px; /* Espacemento entre letras */
    margin-left: 8px;    
  }
  
  .lg2 {
      font-family: "Michroma", sans-serif;
  
      font-weight: bold;
      text-align: center;
  }
  /* End logo */